<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="top_movies.check_movie_date()[pri:1, instance:Movies.top_movies@29e495ff]">check_movie_date</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:48</td>   <td>48156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="top_movies.check_movie_info()[pri:4, instance:Movies.top_movies@29e495ff]">check_movie_info</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:14</td>   <td>14238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="top_movies.check_movies_list()[pri:2, instance:Movies.top_movies@29e495ff]">check_movies_list</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:29</td>   <td>29169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="top_movies.check_search_movie()[pri:3, instance:Movies.top_movies@29e495ff]">check_search_movie</td> 
  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:54</td>   <td>53728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;top_movies.close()[pri:0, instance:Movies.top_movies@29e495ff]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:54</td>   <td>53728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;top_movies.close()[pri:0, instance:Movies.top_movies@29e495ff]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:54</td>   <td>53728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;top_movies.close()[pri:0, instance:Movies.top_movies@29e495ff]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:54</td>   <td>53728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;top_movies.close()[pri:0, instance:Movies.top_movies@29e495ff]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:35</td>   <td>35468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;top_movies.setUP()[pri:0, instance:Movies.top_movies@29e495ff]">&gt;&gt;setUP</td> 
<td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:35</td>   <td>35468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;top_movies.setUP()[pri:0, instance:Movies.top_movies@29e495ff]">&gt;&gt;setUP</td> 
<td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:35</td>   <td>35468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;top_movies.setUP()[pri:0, instance:Movies.top_movies@29e495ff]">&gt;&gt;setUP</td> 
<td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>22/05/13 17:38:35</td>   <td>35468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;top_movies.setUP()[pri:0, instance:Movies.top_movies@29e495ff]">&gt;&gt;setUP</td> 
<td>&nbsp;</td>  <td>main@517355658</td>   <td></td> </tr>
</table>
